<nav class="navbar navbar-dark bg-primary">
  <h1 class="letrabranca"><i>Luxury's Cars</i></h1>
  <nav class="navbar navbar-dark bg-primary">
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-info" type="submit">Search</button>
    </form>
  </nav>
</nav>
<app-list [entityName]="'carros'" [columns]="colunasCarros" [entities]="carros">
</app-list>
<hr />
<body></body>
