
 <nav class="navbar navbar-dark bg-primary">
    <h1 class="letrabranca"><i>Luxury's Cars</i></h1>
    <nav class="navbar navbar-dark bg-primary">
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-info" type="submit">Procurar</button>
      </form>
    </nav>
  </nav>

  <body>
    <app-list [entityName]="'carros'" [columns]="colunasCarros" [entities]="carros" [carros]="carros" #dashboard >
    </app-list>
    <app-view-carros [idCompra]="dashboard.idCompra" [colunasCarro]="colunasCarros" [entities]="dashboard.entities" [carroEscolhido]="dashboard.carroEscolhido"></app-view-carros>
    </body>
<app-payment></app-payment>


